<tr>
  <td><%= gravatar_for user, size: Settings.avatar_size %></td>
  <td><%= link_to user.user_name, user %></td>
  <td><%= user.email %></td>
  <td>
    <% if current_user.is_admin? && !user.current_user?(current_user) %>
      <%= link_to t(".delete"), user, method: :delete,
        data: {confirm: t(".you")}, class: "btn btn-danger" %>
    <% end %>
  </td>
</tr>
