@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$color_malachite_approx: #2fd828;
$white: #fff;
$color_gallery_approx: #eee;
$color_tapa_approx: #757575;
$color_silver_sand_approx: #c2c2c2;
$color_red_orange_approx: #fc3a3a;
$color_storm_dust_approx: #646464;
$color_tapa_approx: #757575;
$color_tuatara_approx: #393939;
$color_mercury_approx: #e6e6e6;
$color_blue_chill_approx: #05969b;
$black_80: rgba(0, 0, 0, 0.8);
$color_swans_down_approx: #ddeeee;
$color_william_approx: #336b6b;
$color_mine_shaft_approx: #333;
$color_laser_approx: #B0E0E6;
$color_celeste_approx: #ccc;
$color_kumera_approx: #957030;
$color_chalky_approx: #FFFFE0;

$font_0: Arial;
$font_1: sans-serif;

$url_0: url(asset-path('banner.jpg'));

/* universal */

* {
  box-sizing: border-box;
}

body {
  margin:0;
  background: #fff;
  font-family: 'Open Sans', sans-serif;
}

h4, h5, h6,
h1, h2, h3 {
  margin: 0;
}
p{
  margin:0;
}
ul,label{
  margin:0;
  padding:0;
}
input[type="button"],input[type="submit"]{
  transition:0.5s all;
  -webkit-transition:0.5s all;
  -moz-transition:0.5s all;
  -o-transition:0.5s all;
  -ms-transition:0.5s all;
}
body a{
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  text-decoration:none;

}
body a:hover{
  text-decoration:none;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.header {
  background: #05969b;
}
.navbar {
  margin-bottom: 0;
  border-radius: 0px;
  border:none;
}
.navbar-nav {
  float: right;
  width: 50%;
  li {
    a {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
}
.navbar-default {
  background:none;
  border-color: #012231;
  .navbar-brand {
    font-family: 'Alegreya', serif;
    color: #fff;
    font-size:48px;
    text-decoration: none;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
  .navbar-collapse, .navbar-form {
    padding: 0;
  }
  .navbar-nav {
    li {
      a {
        color: #fff;
        font-size: 16px;
      }
    }
    .active {
      a {
        &:hover, &:focus{
          color: #fff;
          background-color: #2FD828;
        }
      }
    }
  }
}

.glyphicon-cutlery {
  left: -10px;
  top: 7px;
}

a.navbar-brand span {
  color: #2FD828;
  margin-left: 12px;
}

.navbar-default .navbar-nav > li > a{
  color: #fff;
  font-size: 16px;
}

.navbar-brand {
  height: 0;
  padding: 0;
}

.navbar-default .navbar-nav > li > a {
  &:hover {
    color: $color_malachite_approx;
  }
  &:focus {
    color: $color_malachite_approx;
  }
  &.active {
    color: $color_malachite_approx;
  }
}

.dropdown-menu {
  background-color: pink;
}

.banner {
  background: $url_0 no-repeat 0 0;
  background-size: cover;
  min-height: 700px;
}
.header {
  .glyphicon-education {
  top: 8px;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

.behind {
  padding-top: 10%;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.inline {
  display: -webkit-flex;
  display: flex;
}

.show_score {
  color: blue;
  font-weight:bold;
  font-size: 1.5 em;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

.cate_name {
  color: blue;
  font-weight: bold;
}

.signup {
  margin-left: 43%;
  margin-top: 20%;
}

%extend_1 {
  text-align: center;
  font-size: 32px;
  font-family: $font_0, $font_1;
  color: $color_red_orange_approx;
  margin-bottom: 50px;
}

%extend_2 {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.banner-info {
  margin-top: 206px;
  h3 {
    line-height: 1.4em;
    color: $white;
    font-family: $font_0, $font_1;
    font-size: 72px;
    text-align: center;
  }
}
.bottom-grid {
  position: relative;
  span {
    position: absolute;
    font-size: 27px;
    color: $color_storm_dust_approx;
    background: $color_silver_sand_approx;
    border-radius: 100%;
    padding: 20px;
    top: -37px;
    text-align: center;
    left: 37%;
  }
  &:hover div {
    &.bottom-text {
      border: 2px solid $color_malachite_approx;
      transition: 0.5s all;
      h3 {
        color: $color_malachite_approx;
        transition: 0.5s all;
      }
    }
    &.bottom-spa span {
      background: $color_malachite_approx !important;
      color: $white !important;
      transition: 0.5s all;
    }
  }
}
.banner-bottom {
  padding: 80px 0;
  background: $color_gallery_approx;
}
.bottom-text {
  background: $white;
  padding: 52px 15px;
  border-radius: 100%;
  border: 2px solid transparent;
  h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: $color_storm_dust_approx;
  }
  p {
    margin-top: 14px;
    text-align: center;
    font-size: 14px;
    color: $color_tapa_approx;
    line-height: 2em;
  }
}
.bottom-grids {
  margin-top: 90px;
}
.about-grids {
  margin-top: 50px;
}
.features-right {
  h4 {
    margin: 0;
    color: $color_malachite_approx;
    font-size: 20px;
    font-weight: 600;
  }
  p {
    margin: 0;
    color: $color_tapa_approx;
    line-height: 2em;
    font-size: 14px;
    &:nth-child(2) {
      margin: 19px 0;
    }
  }
}
.facilities {
  padding: 80px 0;
  background: $color_gallery_approx;
}
.features {
  padding: 80px 0;
}
.view {
  width: 31.5%;
  height: 100%;
  margin: 10px;
  float: left;
  border: 10px solid $white;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 1px 1px 2px $color_mercury_approx;
  cursor: default;
  .mask {
    @extend %extend_2;
  }
  .content {
    @extend %extend_2;
  }
  img {
    display: block;
    position: relative;
  }
  h4 {
    text-transform: uppercase;
    color: $color_malachite_approx;
    font-family: $font_0, $font_1;
    text-align: center;
    position: relative;
    font-size: 24px;
    padding: 10px;
    background: $black_80;
    margin: 40px 0 25px;
  }
  p {
    font-style: italic;
    font-size: 14px;
    line-height: 1.8em;
    position: relative;
    color: $white;
    padding: 0 20px 20px;
    text-align: center;
  }
  &.view-seventh img {
    width: 100%;
  }
}
.view-seventh {
  img {
    transition: all 0.5s ease-out;
    filter: alpha(opacity=100);
    opacity: 1;
  }
  .mask {
    background-color: $color_blue_chill_approx;
    transform: rotate(0deg) scale(1);
    filter: alpha(opacity=0);
    opacity: 0;
    transition: all 0.3s ease-out;
  }
  h2 {
    transform: translateY(-200px);
    transition: all 0.2s ease-in-out;
  }
  p {
    transform: translateY(-200px);
    transition: all 0.2s ease-in-out;
  }
  &:hover {
    img {
      transform: rotate(720deg) scale(0);
      filter: alpha(opacity=0);
      opacity: 0;
    }
    .mask {
      filter: alpha(opacity=100);
      opacity: 1;
      transform: translateY(0px) rotate(0deg);
      transition-delay: 0.4s;
    }
    h2 {
      transform: translateY(0px);
      transition-delay: 0.7s;
    }
    p {
      transform: translateY(0px);
      transition-delay: 0.6s;
    }
    a.info {
      transform: translateY(0px);
      transition-delay: 0.5s;
    }
  }
  a.info {
    transform: translateY(-200px);
    transition: all 0.2s ease-in-out;
  }
}
h3.tittle {
  @extend %extend_1;
}
h2.tittle {
  @extend %extend_1;
}
.features-left img {
  width: 100%;
}

%extend_1 {
  text-align: center;
  font-size: 32px;
  font-family: $font_0, $font_1;
  color: $color_red_orange_approx;
  margin-bottom: 50px;
}


.banner-info {
  margin-top: 206px;
  h3 {
    line-height: 1.4em;
    color: $white;
    font-family: $font_0, $font_1;
    font-size: 72px;
    text-align: center;
  }
}
.bottom-grid {
  position: relative;
  span {
    position: absolute;
    font-size: 27px;
    color: $color_storm_dust_approx;
    background: $color_silver_sand_approx;
    border-radius: 100%;
    padding: 20px;
    top: -37px;
    text-align: center;
    left: 37%;
  }
  &:hover div {
    &.bottom-text {
      border: 2px solid $color_malachite_approx;
      transition: 0.5s all;
      h3 {
        color: $color_malachite_approx;
        transition: 0.5s all;
      }
    }
    &.bottom-spa span {
      background: $color_malachite_approx !important;
      color: $white !important;
      transition: 0.5s all;
    }
  }
}
.banner-bottom {
  padding: 80px 0;
  background: $color_gallery_approx;
}
.bottom-text {
  background: $white;
  padding: 52px 15px;
  border-radius: 100%;
  border: 2px solid transparent;
  h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: $color_storm_dust_approx;
  }
  p {
    margin-top: 14px;
    text-align: center;
    font-size: 14px;
    color: $color_tapa_approx;
    line-height: 2em;
  }
}
.bottom-grids {
  margin-top: 90px;
}
h3.tittle {
  @extend %extend_1;
}
h2.tittle {
  @extend %extend_1;
}

.footer {
  clear: both;
  padding: 50px 0;
  background: $color_tuatara_approx;
  p {
    margin: 44px 0 0 0;
    font-size: 14px;
    color: $color_silver_sand_approx;
    font-weight: 600;
    text-align: center;
    a {
      color: $color_red_orange_approx;
      &:hover {
        color: $color_silver_sand_approx;
      }
    }
  }
}

.round-table {
  border: solid 1px $color_swans_down_approx;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px $font_0, $font_1;
  thead th {
    background-color: $color_swans_down_approx;
    border: solid 1px $color_swans_down_approx;
    color: $color_william_approx;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px $white;
  }
  tbody td {
    border: solid 1px $color_swans_down_approx;
    color: $color_mine_shaft_approx;
    padding: 10px;
    text-shadow: 1px 1px 1px $white;
  }
}
.round-table-rounded {
  border: none;
  tbody {
    td {
      border: none;
      border-top: solid 1px $color_kumera_approx;
      background-color: $color_chalky_approx;
    }
    tr:last-child td {
      &:first-child {
        border-radius: 0 0 0 10px;
      }
      &:last-child {
        border-radius: 0 0 10px 0;
      }
    }
  }
  thead th {
    background-color: $color_laser_approx;
    border: none;
    text-shadow: 1px 1px 1px $color_celeste_approx;
    color: $color_mine_shaft_approx;
    &:first-child {
      border-radius: 10px 0 0 0;
    }
    &:last-child {
      border-radius: 0 10px 0 0;
    }
  }
}
