@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$color_malachite_approx: #2fd828;

/* universal */

* {
  box-sizing: border-box;
}

body {
  margin:0;
  background: #fff;
  font-family: 'Open Sans', sans-serif;
}

h4, h5, h6,
h1, h2, h3 {
  margin: 0;
}
p{
  margin:0;
}
ul,label{
  margin:0;
  padding:0;
}
input[type="button"],input[type="submit"]{
  transition:0.5s all;
  -webkit-transition:0.5s all;
  -moz-transition:0.5s all;
  -o-transition:0.5s all;
  -ms-transition:0.5s all;
}
body a{
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  text-decoration:none;

}
body a:hover{
  text-decoration:none;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

.header {
  background: #05969b;
}
.navbar {
  margin-bottom: 0;
  border-radius: 0px;
  border:none;
}
.navbar-nav {
  float: right;
  width: 50%;
  li {
    a {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
}
.navbar-default {
  background:none;
  border-color: #012231;
  .navbar-brand {
    font-family: 'Alegreya', serif;
    color: #fff;
    font-size:48px;
    text-decoration: none;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
  .navbar-collapse, .navbar-form {
    padding: 0;
  }
  .navbar-nav {
    li {
      a {
        color: #fff;
        font-size: 16px;
      }
    }
    .active {
      a {
        &:hover, &:focus{
          color: #fff;
          background-color: #2FD828;
        }
      }
    }
  }
}

.glyphicon-cutlery {
  left: -10px;
  top: 7px;
}

a.navbar-brand span {
  color: #2FD828;
  margin-left: 12px;
}

.navbar-default .navbar-nav > li > a{
  color: #fff;
  font-size: 16px;
}

.navbar-brand {
  height: 0;
  padding: 0;
}

.navbar-default .navbar-nav > li > a {
  &:hover {
    color: $color_malachite_approx;
  }
  &:focus {
    color: $color_malachite_approx;
  }
  &.active {
    color: $color_malachite_approx;
  }
}

.dropdown-menu {
  background-color: pink;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  clear: both;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.inline {
  display: -webkit-flex;
  display: flex;
}

.show_score {
  color: blue;
  font-weight:bold;
  font-size: 1.5 em;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

.cate_name {
  color: blue;
  font-weight: bold;
}
