<tr>
  <td class="col-md-6"><%= category.name %></td>
  <td class="col-md-2"><%= category.words.size %></td>
  <td class="col-md-1">
    <%= link_to t(".start"), lessons_path(category_id: category.id), method: :post,
      class: "btn btn-primary" %>
  </td>
</tr>
