<div class="banner">
  <div class="container">
    <div  id="top" class="callbacks_container">
      <ul class="rslides" id="slider3">
        <li>
          <div class="banner-info">
            <h3><%= t "banner_text" %></h3>
            <% unless logged_in? %>
              <%= link_to t("signup") , signup_path ,
              class: "btn btn-lg btn-primary signup" %>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
